* {
    margin: 0;
    padding: 0;
}

.landing-page {
    background-image: url(images/images05.jpg), url(images/images04.jpg);
    background-size: cover;
    background-repeat: no-repeat repeat;
    background-position: center center;
    height: 100vh;
    transition: 2s linear;

}

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;

}

.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible;

}

.main-menu {

    background: #b42323b6;
    border-right: 1px solid white;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 60px;
    overflow: hidden;
    transition: width 0.5s linear;
    z-index: 1000;
    -webkit-transform: translateZ(0) scale(1, 1);

}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999999;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    transition: all .1s linear;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}